
/*Setting up font standardization*/
@font-face { font-family: 'Metropolis-Regular'; src: url('../fonts/Metropolis-Regular.otf'); } 
 @font-face { font-family: 'Metropolis-Regular'; font-weight: bold; src: url('../fonts/Metropolis-Regular.otf');}*/

 /*Setting up primary style attributes*/
 html 
 {
  height: 100%;
 }
 body 
  {
  background-color: rgb(37, 37, 37);
  padding:0px;
  margin:0px;
  }
  :is(h1, h2, h3, h4, h5, h6, p) {color: #000000; font-family: 'Metropolis-Regular', sans-seriff;}

  .myDiv 
  { 
    border-left: 2px solid #696969; border-right: 2px solid #696969;
    padding-left: 10px; padding-right: 10px; 
    min-width: 1495px; max-width: 1500px;
    margin-left: auto; margin-right: auto; 
    height:100%;
    background-color: #d8d8d8; 
    word-wrap: normal;
  }

  /* Specifying column parameters */
  .column1 
  {
    float: left;
    width: 45%;
    padding: 10px;
    font-size:18px;
  }
  .column2 
  {
    float: left;
    width: 50%;
    padding: 0px;
  }

  /* Setting up button style standardization */
  .button 
  {
      background-color: #636363; color: black;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 24%;
      height: 60px;
  }

  .button:hover {
    background-color: #363636;
    color: white;
    cursor: pointer
  }

  .buttonSelected 
  {
      background-color: #000000; color: black;
      border: none;
      color: white;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 4px;
      cursor: pointer
  }

  /*Dropdown Language Menu*/
  .dropbtn 
  {
    background-color: #636363; color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 210px;
    height: 40px;
  }

  .dropdown 
  {
    position: relative;
    display: inline-block;
  }

  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a 
  {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000000; font-family: 'Metropolis-Regular', sans-seriff;
  }

  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #363636;}