<html>
<!-- Enabling responsive Capabilities -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Daniel O'Neil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="myDiv">

    <h1>Daniel O'Neil</h1>
    <hr>

    <!-- Setting up the columns to hold the resume and the miscellaneous information about myself-->
    <div class="row">

        <!-- The information column -->
        <div class="column1">
            <img src="placeholder.jpg" alt="Image of Myself">
            <h2>About Me</h2>
            <p>I am a Software Engineer currently working at JASCO Applied Sciences, graduated from Dalhousie University, and my technical proficiencies include both front-end and back-end development alongside QA excperience.</p>
            <p>I have experience in application development, application testing, troubleshooting, and technical document writing; the details of which may be found in my resume.</p>
            <p>I am well-versed in a number of programming languages with a special emphasis on Java and C, as well as collaboratrive programming paradigms such as Agile.</p>
            <p>Outside of programming, my interests include weightlifting, Muay Thai, Brazilian Jiu-Jitsu, surfing, and language learning. I have obtained Mandarin Chinese HSK III, and I'm currently working towards a certificate in Norwegian proficiency.</p>
            <p>I've also been helping coach Jr. High and High School track and field teams in the HRM for the past five years when such programs were available.</p>
            <p>Below you may find links to various online profiles of mine.</p>

            <!-- This button sends the user to my LinkedIn profile-->
            <button class="button" href="#" onclick='window.open("https://www.linkedin.com/in/daniel-o-neil-5861a818b/");return false;'>LinkedIn</button>

            <!-- This button sends the user to my Instagram profile-->
            <button class="button" href="#" onclick='window.open("https://www.instagram.com/dddanothemano/");return false;'>Instagram</button>

            <!-- This button sends the user to my Tandem profile-->
            <button class="button" href="#" onclick='window.open("https://app.tandem.net/en/community/jjkffefjjkffefd");return false;'>Tandem</button>
        </div>
        <!-- The resume column -->
        <div class="column2"  style="display:table; margin-left:auto;">
            <embed src="CV_DanielONeil_CS.pdf" width="800px" height="1000px" />
        </div>
    </div>

</div>

</body>
</html>